<h1 mat-dialog-title>Post Reply!</h1>

<div mat-dialog-content>

    <form >

    <mat-form-field appearance="outline" >
            <mat-label>Reply</mat-label>
            <textarea  matInput
            [(ngModel)]="reply"
            cdkTextareaAutosize
            cdkAutosizeMinRows="5"
            cdkAutosizeMaxRows="5" name="reply"
            ></textarea>
        
       </mat-form-field>
    
    

    </form>
    

    </div>

    <div mat-dialog-action [align] = " 'end '">
         <button mat-raised-button color="warn" mat-dialog-close>Close</button>
         <button style="margin-left: 8px;margin-right: 8px;" mat-raised-button color="primary"(click)=" onreplySubmit()">Post Reply!</button>
        </div>
