.profile-image{
  border-radius: 25px;
  border: 2px solid #694bbb;
  padding: 20px;
  width: 200px;
  height: 200px;

}
.tweet-image{
  border-radius: 25px;
  border: 2px solid #694bbb;
  padding: 20px;
  width: 100px;
  height: 100px;

}

