<app-searchbox (searchTextChanged)="onSearchTextEntered($any($event))"></app-searchbox>
<div class="card" style="width: 46rem; margin-top: 8px;" *ngFor="let tweet of tweetList">

    <div class="card-body" *ngIf="searchText === '' || tweet.email.toLowerCase().includes(searchText)">
      <mat-card class="example-card mat-elevation-z0">
     
       
        
        <mat-card-content>
             
          <form class="example-form" >
             
               <table>
                   <tr>
                    <div class="container">
                        <td style="padding: 10px;margin-right:1px;">
                          
                          <ngx-avatar name={{tweet.email}} [cornerRadius]="1" [size]="100" [round]="false"></ngx-avatar>
                          
                        </td>
                        <td>
                          <tr>
                            <td>
                           <h2> {{tweet.email}}
                                
                           

                           </h2></td>
                           <td >
                            <div class="fill" >{{tweet.tweetdate | date:'medium'}}</div>
                           </td>
                           
                           
                          </tr>
                         
                          <tr>
                            <h3>{{tweet.tweetbody}}</h3>
                            </tr>
                        </td>
                        <td >
                          
                        </td>
                    </div>
                    </tr>
              
                  
                  
                  
                  
                   </table>

                  <mat-card-actions>
                      <button type="submit" mat-raised-button color="primary" (click)="onLikeSubmit(tweet)" >Like {{tweet.likes?.length||0}} <mat-icon>thumb_up</mat-icon></button>
                      <button style="margin-left: 20px;" mat-raised-button color="accent" (click)="openDialog(tweet)">Reply <mat-icon>reply</mat-icon></button>
                      <button style="margin-left: 20px;" mat-raised-button color="accent" (click)="openDialogViewReply(tweet)">View Replies {{tweet.replies?.length||0}} <mat-icon>calendar_view_day</mat-icon></button>
                    </mat-card-actions>
                
                  
           
                  </form>
                  
              
         
      </mat-card-content>
          
        </mat-card>
    </div></div>
